<div class="container">
  <div class="header">
    <button mat-icon-button (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <button mat-icon-button class="translate" (click)="toggleLanguage()">
      <mat-icon>translate</mat-icon>
    </button>
  </div>
  <div class="main-content">
    <div class="left-panel">
      <h3>{{ 'PROFILE.SELECT_PROFILE_PICTURE' | translate }}</h3>
      <div class="large-image">
        <img [src]="imageSrc"
          alt="{{ 'PROFILE.CURRENT_PROFILE' | translate }}" />
      </div>
      <div class="grid">
        <div
          class="grid-item"
          *ngFor="let image of images"
          [class.selected]="image === selectedImage"
          (click)="selectImage(image)">
          <img alt="{{ 'PROFILE.PROFILE_PICTURE' | translate }}"
            [src]="image" />
        </div>
      </div>
      <button class="action-button" (click)="sendSelectedImage()">
        {{ 'PROFILE.ACTION' | translate }}
      </button>
    </div>
    <div class="right-panel">
      <div class="reservation-container">
        <h3>{{ 'PROFILE.MY_RESERVATIONS' | translate }}</h3>
        <ng-container
          *ngIf="dataSource && dataSource.data.length > 0; else noReservationsTemplate">
          <mat-accordion class="full-height">
            <mat-expansion-panel *ngFor="let reservation of dataSource.data"
              hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ 'PROFILE.RESERVATION' | translate }} #{{reservation.id}}
                </mat-panel-title>
                <mat-panel-description>
                  {{ 'PROFILE.STATUS' | translate }}: {{reservation.status}}
                  <button
                    (click)="getStripeURL(reservation.totalAmount,reservation.id)"
                    *ngIf="reservation.status == 'Pending'" mat-raised-button
                    class="payment-button">
                    {{ 'PROFILE.PAY' | translate }}
                  </button>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="reservation-summary">
                <p>{{'PROFILE.CHAIR'| translate}}: {{reservation.chairId}}</p>
                <p>{{ 'PROFILE.DATE' | translate }}: {{reservation.date }}</p>
                <p>{{ 'PROFILE.START_TIME' | translate }}:
                  {{reservation.startTime }}</p>
                <p>{{ 'PROFILE.END_TIME' | translate }}: {{reservation.endTime
                  }}</p>
                <p>{{ 'PROFILE.PRICE' | translate }}:
                  {{reservation.totalAmount}} €</p>
                <button
                  (click)="getStripeURL(reservation.totalAmount,reservation.id)"
                  *ngIf="reservation.status == 'Pending'" mat-raised-button
                  class="payment-button">
                  {{ 'PROFILE.PAY' | translate }}
                </button>
                <button mat-raised-button
                  (click)="cancelReservation(reservation.id)"
                  *ngIf="reservation.status == 'Pending'">{{'PROFILE.CANCEL' |
                  translate}} </button>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </ng-container>
      </div>
      <ng-template #noReservationsTemplate>
        <div class="no-reservations">
          <p>{{ 'PROFILE.NO_RESERVATIONS' | translate }}</p>
          <p>{{ 'PROFILE.RESERVATION_LINK' | translate }}</p>
        </div>
      </ng-template>
    </div>
  </div>
</div>