<div class="homepage">
    <mat-toolbar>
        <button mat-icon-button>
            <mat-icon>translate</mat-icon>
        </button>
        <a [routerLink]="['/login']" aria-label="Link to login page">
            <button mat-icon-button class="example-icon favorite-icon">
                <mat-icon>login</mat-icon>
            </button>
        </a>
    </mat-toolbar>
    <div class="header">
        <h1>EL TEMPLO ESPORTS</h1>
        <p>GAMING CENTER SEVILLA</p>
        <h2>"El hogar de los gamers"</h2>
        <span>Abierto 24H</span>
    </div>
    <div class="services-section">
        <div class="services-header">
            <h1>ZONA STANDARD</h1>
            <p>En nuestra Zona Standard, contamos con 44 ordenadores de última
                generación, perfectamente equipados para ofrecerte una
                experiencia de juego inigualable.</p>
        </div>
        <div class="specifications-section">
            <h1 class="specifications-title">ESPECIFICACIONES</h1>
            <div class="specifications-details">
                <div class="specification">
                    <img src="path-to-components-icon.png" alt="Componentes"
                        class="specification-icon">
                    <h2>Componentes</h2>
                    <ul>
                        <li>AMD Ryzen 7 3700X</li>
                        <li>16GB Ram DDR4</li>
                        <li>Gigabyte RTX2060 6GB</li>
                    </ul>
                </div>
                <div class="specification">
                    <img src="path-to-monitor-icon.png" alt="Monitor"
                        class="specification-icon">
                    <h2>Monitor</h2>
                    <ul>
                        <li>Zowie XL2411P 144Hz</li>
                    </ul>
                </div>
                <div class="specification">
                    <img src="path-to-peripherals-icon.png" alt="Periféricos"
                        class="specification-icon">
                    <h2>Periféricos</h2>
                    <ul>
                        <li>Teclados Logitech G413 TKL</li>
                        <li>Teclados Logitech G512</li>
                        <li>Ratón Zowie FK2-C</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="services-container">
            <div class="service">
                <div class="service-icon">
                    <img src="../../../assets/img/svg/clock.svg"
                        alt="Precio por hora">
                </div>
                <div class="service-details">
                    <h2>PRECIO POR HORA</h2>
                    <p>El pago de horas individuales es acumulable.</p>
                    <div class="service-price">3€</div>
                </div>
            </div>
            <div class="service">
                <div class="service-icon">
                    <img src="../../../assets/img/svg/moon.svg"
                        alt="Hora nocturna">
                </div>
                <div class="service-details">
                    <h2>HORA NOCTURNA</h2>
                    <p>Precio por hora suelta: Todos los días de 23:00h a
                        7:00h.</p>
                    <div class="service-price">4€</div>
                </div>
            </div>
            <div class="service">
                <div class="service-icon">
                    <img src="../../../assets/img/svg/weekend.svg"
                        alt="Hora premium">
                </div>
                <div class="service-details">
                    <h2>HORA PREMIUM</h2>
                    <p>Precio por hora suelta: ¡Los viernes, sábados y vísperas
                        de festivo!</p>
                    <div class="service-price">4€</div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>Aplicación GameSeat pro Javier Ruiz Camacho</p>
    </div>
</div>
