<div class="homepage">
    <mat-toolbar>
        <button mat-icon-button>
            <mat-icon>translate</mat-icon>
        </button>
        <a [routerLink]="['/login']" aria-label="Link to login page">
            <button mat-icon-button class="example-icon favorite-icon">
                <mat-icon>login</mat-icon>
            </button>
        </a>
    </mat-toolbar>
    <div class="header">
        <h1>EL TEMPLO ESPORTS</h1>
        <p>GAMING CENTER SEVILLA</p>
        <h2>"El hogar de los gamers"</h2>

    </div>
    <div class="services-section">
        <div class="services-header">
            <h1>ZONA STANDARD</h1>
            <p>En nuestra Zona Standard, contamos con 48 ordenadores de última
                generación, perfectamente equipados para ofrecerte una
                experiencia de juego inigualable.</p>
        </div>
        <div class="specifications-section">
            <h1 class="specifications-title">ESPECIFICACIONES</h1>
            <div class="specifications-details">
                <div class="specification">
                    <mat-icon>memory</mat-icon>
                    <h2>Componentes</h2>
                    <ul>
                        <li>AMD Ryzen 7 3700X</li>
                        <li>16GB Ram DDR4</li>
                        <li>Gigabyte RTX2060 6GB</li>
                    </ul>
                </div>
                <div class="specification">
                    <mat-icon>tv</mat-icon>
                    <h2>Monitor</h2>
                    <ul>
                        <li>Zowie XL2411P 144Hz</li>
                    </ul>
                </div>
                <div class="specification">
                    <mat-icon>keyboard</mat-icon>
                    <h2>Periféricos</h2>
                    <ul>
                        <li>Teclados Logitech G413 TKL</li>
                        <li>Teclados Logitech G512</li>
                        <li>Ratón Zowie FK2-C</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="services-container">
            <div class="service">
                <div class="service-icon">
                    <img src="../../../assets/img/svg/clock.svg"
                        alt="Precio por hora">
                </div>
                <div class="service-details">
                    <h2>PRECIO POR HORA</h2>
                    <p>El pago de horas individuales es acumulable.</p>
                    <div class="service-price">3€</div>
                </div>
            </div>
            <div class="service">
                <div class="service-icon">
                    <img src="../../../assets/img/svg/weekend.svg"
                        alt="Hora premium">
                </div>
                <div class="service-details">
                    <h2>HORA PREMIUM</h2>
                    <p>Precio por hora suelta: ¡Los viernes, sábados y
                        domingos!</p>
                    <div class="service-price">5€</div>
                </div>
            </div>
        </div>
        <div class="schedule-container">
            <table class="schedule-table">
                <thead>
                    <tr>
                        <th>Día</th>
                        <th>Hora de Apertura</th>
                        <th>Hora de Cierre</th>
                        <th>Precio por Hora (€)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Lunes</td>
                        <td>08:00 AM</td>
                        <td>10:00 PM</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>Martes</td>
                        <td>06:00 AM</td>
                        <td>10:00 PM</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>Miércoles</td>
                        <td>06:00 AM</td>
                        <td>10:00 PM</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>Jueves</td>
                        <td>06:00 AM</td>
                        <td>10:00 PM</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>Viernes</td>
                        <td>06:00 AM</td>
                        <td>02:00 AM (Sábado)</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>Sábado</td>
                        <td>06:00 AM</td>
                        <td>02:00 AM (Domingo)</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>Domingo</td>
                        <td>08:00 AM</td>
                        <td>10:00 PM</td>
                        <td>5</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="footer">
        <span>Aplicación GameSeat por Javier Ruiz Camacho</span>
    </div>
</div>
