.homepage {
    background-image: url('../../../assets/img/gaming-center.png');
    width: 100vw;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    text-align: center;
}

.header h1 {
    font-size: 3em;
    color: #E5E5E5;
}

.header p {
    font-size: 1.5em;
    color: #E5E5E5;
}

.header h2 {
    font-size: 2em;
    margin: 10px 0;
}

.header span {
    display: block;
    margin-bottom: 20px;
}

.cta-buttons .btn {
    background-color: #0062cc;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.cta-buttons .btn:hover {
    background-color: #004ba0;
}

.social-links {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-links a {
    color: white;
    font-size: 24px;
    margin: 0 10px;
}

.social-links a:hover {
    color: #76a9fa;
}


/* Estilos para la sección de especificaciones */
.specifications-section {
    background: rgba(0, 0, 0, 0.432); /* Fondo semitransparente oscuro */
    color: #fff;
    border-radius: 8px; /* Bordes redondeados */
    text-align: center;
    padding: 50px 0;
}

.specifications-title {
    font-size: 3rem;
    margin-bottom: 30px;
}

.specifications-details {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.specification {
    width: 30%;
}

.specification > mat-icon{
    font-size: 40px;
}

.specification > .mat-icon{
    width: auto !important;
    height: auto !important;
}

.specification h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.specification ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.specification ul li {
    margin-bottom: 10px;
}

.services-section {
    color: white;
    text-align: center;
    padding: 40px;
    margin-top:30px;
}

.services-header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.services-header p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.services-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.service {
    background-color: #4b0082;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
}

.service-details h2 {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.service-price {
    font-size: 2em;
    font-weight: bold;
    margin-top: 10px;
}

.footer{
    margin-bottom: 0;
}

.schedule-container {
    color: white; /* Texto blanco para contraste */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.432); /* Fondo semitransparente oscuro */
    border-radius: 8px; /* Bordes redondeados */
    padding: 20px; /* Espaciado interno */
    margin: 20px; /* Espaciado externo */
    width: calc(100% - 80px) ; /* Ancho automático según el contenido */
}

.schedule-table {
    width: 60%; /* Ocupar el ancho completo del contenedor */
    border-collapse: collapse; /* Los bordes de las celdas colapsan en uno solo */
}

.schedule-table th, .schedule-table td {
    border: 1px solid #555; /* Bordes sutiles para las celdas */
    padding: 10px 20px; /* Espaciado dentro de las celdas */
    align-content: center; /* Texto centrado */
}

.schedule-table th {
    background-color: #333; /* Fondo más oscuro para los encabezados */
    font-size: 1.2em; /* Tamaño de fuente mayor para encabezados */
}

.schedule-table td {
    background-color: #444; /* Fondo ligeramente más claro para las celdas */
}
