<div class="homepage">
    <app-toolbar></app-toolbar>
    <div class="header">
      <h1>{{ 'HOME.TITLE' | translate }}</h1>
      <p>{{ 'HOME.SUBTITLE' | translate }}</p>
      <h2>{{ 'HOME.TAGLINE' | translate }}</h2>
    </div>
    <div class="services-section">
      <div class="services-header">
        <h1>{{ 'SERVICES.STANDARD_ZONE.TITLE' | translate }}</h1>
        <p>{{ 'SERVICES.STANDARD_ZONE.DESCRIPTION' | translate }}</p>
      </div>
      <div class="specifications-section">
        <h1 class="specifications-title">{{ 'SPECIFICATIONS.TITLE' | translate }}</h1>
        <div class="specifications-details">
          <div class="specification">
            <mat-icon>memory</mat-icon>
            <h2>{{ 'SPECIFICATIONS.COMPONENTS.TITLE' | translate }}</h2>
            <ul>
              <li>{{ 'SPECIFICATIONS.COMPONENTS.ITEM1' | translate }}</li>
              <li>{{ 'SPECIFICATIONS.COMPONENTS.ITEM2' | translate }}</li>
              <li>{{ 'SPECIFICATIONS.COMPONENTS.ITEM3' | translate }}</li>
            </ul>
          </div>
          <div class="specification">
            <mat-icon>tv</mat-icon>
            <h2>{{ 'SPECIFICATIONS.MONITOR.TITLE' | translate }}</h2>
            <ul>
              <li>{{ 'SPECIFICATIONS.MONITOR.ITEM1' | translate }}</li>
            </ul>
          </div>
          <div class="specification">
            <mat-icon>keyboard</mat-icon>
            <h2>{{ 'SPECIFICATIONS.PERIPHERALS.TITLE' | translate }}</h2>
            <ul>
              <li>{{ 'SPECIFICATIONS.PERIPHERALS.ITEM1' | translate }}</li>
              <li>{{ 'SPECIFICATIONS.PERIPHERALS.ITEM2' | translate }}</li>
              <li>{{ 'SPECIFICATIONS.PERIPHERALS.ITEM3' | translate }}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="services-container">
        <div class="service">
          <div class="service-icon">
            <img src="../../../assets/img/svg/clock.svg" alt="{{ 'SERVICES.PRICE_PER_HOUR.ALT' | translate }}">
          </div>
          <div class="service-details">
            <h2>{{ 'SERVICES.PRICE_PER_HOUR.TITLE' | translate }}</h2>
            <p>{{ 'SERVICES.PRICE_PER_HOUR.DESCRIPTION' | translate }}</p>
            <div class="service-price">3€</div>
          </div>
        </div>
        <div class="service">
          <div class="service-icon">
            <img src="../../../assets/img/svg/weekend.svg" alt="{{ 'SERVICES.PREMIUM_HOUR.ALT' | translate }}">
          </div>
          <div class="service-details">
            <h2>{{ 'SERVICES.PREMIUM_HOUR.TITLE' | translate }}</h2>
            <p>{{ 'SERVICES.PREMIUM_HOUR.DESCRIPTION' | translate }}</p>
            <div class="service-price">5€</div>
          </div>
        </div>
      </div>
      <div class="schedule-container">
        <table class="schedule-table">
          <thead>
            <tr>
              <th>{{ 'SCHEDULE.DAY' | translate }}</th>
              <th>{{ 'SCHEDULE.OPENING_HOUR' | translate }}</th>
              <th>{{ 'SCHEDULE.CLOSING_HOUR' | translate }}</th>
              <th>{{ 'SCHEDULE.PRICE_PER_HOUR' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ 'DAYS.MONDAY' | translate }}</td>
              <td>08:00 AM</td>
              <td>10:00 PM</td>
              <td>3</td>
            </tr>
            <tr>
              <td>{{ 'DAYS.TUESDAY' | translate }}</td>
              <td>06:00 AM</td>
              <td>10:00 PM</td>
              <td>3</td>
            </tr>
            <tr>
              <td>{{ 'DAYS.WEDNESDAY' | translate }}</td>
              <td>06:00 AM</td>
              <td>10:00 PM</td>
              <td>3</td>
            </tr>
            <tr>
              <td>{{ 'DAYS.THURSDAY' | translate }}</td>
              <td>06:00 AM</td>
              <td>10:00 PM</td>
              <td>3</td>
            </tr>
            <tr>
              <td>{{ 'DAYS.FRIDAY' | translate }}</td>
              <td>06:00 AM</td>
              <td>23:59 AM ({{ 'DAYS.SATURDAY' | translate }})</td>
              <td>5</td>
            </tr>
            <tr>
              <td>{{ 'DAYS.SATURDAY' | translate }}</td>
              <td>06:00 AM</td>
              <td>23:59 AM ({{ 'DAYS.SUNDAY' | translate }})</td>
              <td>5</td>
            </tr>
            <tr>
              <td>{{ 'DAYS.SUNDAY' | translate }}</td>
              <td>08:00 AM</td>
              <td>10:00 PM</td>
              <td>5</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="footer">
      <span>{{ 'FOOTER.TEXT' | translate }}</span>
    </div>
  </div>