.table-container {
    display: flex;
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente */
    height: 100%;
    /* Asegúrate de que el contenedor tiene una altura establecida */
    width: 100%;
}

.table {
    width: 180px;
    background-image: url('../../../assets/img/Desk.jpg');
    height: 240px;
    top: 0;
    display: flex;

    /* Usa Flexbox para organizar los hijos */
    justify-content: space-between;
    /* Separa los grupos de sillas */
    position: relative;
    /* Necesario para posicionar absolutamente las sillas */
}

.leftSide,
.rightSide {
    display: flex;
    flex-direction: column;
    /* Alinea las sillas en columna */
    position: absolute;
    /* Posiciona las sillas fuera del div de la mesa */
    width: 100px;
    /* Ancho del área de las sillas */
}

.leftSide {
    left: -70px;
    transform: rotateY(0deg);
    align-items: flex-end;
}

.rightSide {
    right: -70px;
    transform: rotateY(180deg);
    align-items: flex-start;
}