.admin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #007bff;
  color: white;
  padding: 15px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.title-container {
  display: flex;
  align-items: center;
}

.title-container button {
  margin-right: 10px; /* Espacio entre el botón y el título */
}

.title-container h1 {
  margin: 0;
}

.button-container {
  display: flex;
  gap: 10px;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
}

.icon-button mat-icon {
  font-size: 24px;
}

.icon-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.main-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px; /* Añadir espacio entre columnas */
}

.chart-container {
  flex: 2; /* Aumenta el tamaño de la columna de la gráfica */
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chart-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.mat-form-field {
  width: 100%;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

select, input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.price-form-container .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.price-form-container label {
  margin-bottom: 5px;
}
