@import '../../../assets/styles/theme-colors.scss';

.admin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $background-color;
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #007bff;
  color: white;
  padding: 15px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title-container {
  display: flex;
  align-items: center;
}

.title-container button {
  margin-right: 10px; /* Espacio entre el botón y el título */
}

.title-container h1 {
  margin: 0;
}

.button-container {
  display: flex;
  gap: 10px;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
}

.icon-button mat-icon {
  font-size: 24px;
}

.icon-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.main-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
  background-color: $background-color;
}

.chart-container, .schedule-container {
  flex: 2; /* Aumenta el tamaño de la columna de la gráfica */
  background-color: $background-color;
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chart-container h2, .schedule-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.schedule-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #1e2a38;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 80%;
  margin: 0 auto;
}

.schedule-container h2 {
  color: #fff;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
}

thead {
  background-color: #007bff;
  color: #fff;
}

th, td {
  padding: 12px 15px;
  text-align: center;
  border: 1px solid #ddd;
}

tbody tr {
  background-color: #243447;
  color: #fff;
}

tbody tr:nth-child(even) {
  background-color: #2c3e50;
}

tbody tr:hover {
  background-color: #3e5366;
}

th {
  background-color: #007bff;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
}

td {
  color: white;
}

.form-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-container {
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.mat-form-field {
  width: 100%;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #426385;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

mat-form-field {
  width: 100% !important;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

select, input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.price-form-container .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.price-form-container label {
  margin-bottom: 5px;
}
